#banner {
    width: 100%;
}

.titulo-principal {
    padding-left: 30px;
}

.principal {
    background: #CCCCCC;
    padding: 20px;
}

p, h2, h3 {
    text-align: center;
}

.mission {
    font-size: 20px;
}

em strong {
    color: red;
}

.items {
    font-style: italic;
}

.diferenciales {
    background: white;
    padding: 30px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagen-diferenciales {
    width: 50%;
}